.env
.agents
.phpunit.cache
.phpunit.result.cache
AGENTS.md
boost.json
node_modules
opencode.json
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/database/*.sqlite
database/*.sqlite
public/build
.git
.github
